<!DOCTYPE html>
<html>
    <head>
        <link href="../public/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/index.css" rel="stylesheet">
        <title>Local Radius Building Finder</title>
    </head>

    <body>
        <div class="container-fluid">
            <p>Local Radius Building Finder</p>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="aboutModalLabel">Local Radius Building Finder</h1>
                        <button type="button" class="btn-close" aria-label="Close" id="aboutModalClose" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Local Radius Building Finder v1.0.0</p>
                        <p>Build v1.0.0, Built on Jan 1, 2024</p>
                        <p>Powered by hojin.choe.dev@gmail.com</p>
                        <p>Copyright ⓒ 2024~ Hojin Choe (hojin.choe.dev@gmail.com) All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="../public/lib/jquery/jquery-3.7.1.min.js"></script>
        <script src="../public/lib/bootstrap/bootstrap.bundle.min.js"></script>
        <script type="module" src="../public/js/index.js"></script>
    </body>
</html>
